In [4]:
import sqlite3

# Connect to or create the database
conn = sqlite3.connect('student_record.db')
cursor = conn.cursor()

# Create the table (if not exists)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS student_record (
        Enrollment INTEGER,
        name TEXT NOT NULL,
        subject TEXT NOT NULL,
        Mark INTEGER NOT NULL,
        PRIMARY KEY (Enrollment, subject)
    )
''')
conn.commit()

# --- DELETE ALL EXISTING RECORDS TO REMOVE ANY OLD DATA ---
cursor.execute('DELETE FROM student_record')
conn.commit()

# --- INSERT ONLY GIVEN STUDENTS WITH PWP SUBJECT ---

students_pwp = [
    (92301733016, 'ASHUTOSH KUMAR SINGH', 'PWP', 98),
    (92301733017, 'HARSH VISHALBHAI TRIVEDI', 'PWP', 85),
    (92301733027, 'VIRAJ PRAKASHBHAI VAGHASIYA', 'PWP', 90),
    (92301733046, 'SHIVAM ATULKUMAR BHATT', 'PWP', 93)
]

# Insert records
cursor.executemany('''
    INSERT INTO student_record (Enrollment, name, subject, Mark)
    VALUES (?, ?, ?, ?)
''', students_pwp)
conn.commit()

# --- FETCH ALL RECORDS ---
cursor.execute('SELECT * FROM student_record')
rows = cursor.fetchall()
print("\nAll Student Records:")
for row in rows:
    print(row)

# --- CALCULATE AVERAGE MARK PER STUDENT ---
cursor.execute('''
    SELECT name, AVG(Mark) as avg_mark
    FROM student_record
    GROUP BY Enrollment
''')
print("\nAverage Mark per Student:")
for name, avg_mark in cursor.fetchall():
    print(f"{name}: {avg_mark:.2f}")

# --- CLOSE CONNECTION ---
conn.close()

All Student Records:
(92301733016, 'ASHUTOSH KUMAR SINGH', 'PWP', 98)
(92301733017, 'HARSH VISHALBHAI TRIVEDI', 'PWP', 85)
(92301733027, 'VIRAJ PRAKASHBHAI VAGHASIYA', 'PWP', 90)
(92301733046, 'SHIVAM ATULKUMAR BHATT', 'PWP', 93)

Average Mark per Student:
ASHUTOSH KUMAR SINGH: 98.00
HARSH VISHALBHAI TRIVEDI: 85.00
VIRAJ PRAKASHBHAI VAGHASIYA: 90.00
SHIVAM ATULKUMAR BHATT: 93.00